:root {
  --main-isabelline: #F2F1EF;
  --main-quick-silver: #B1A6A4;
  --main-gray-blue: #364f6b;
  --main-light-gray: #D8CFD0;
  --main-black-olive: #413F3D;
}
html {
  margin: 0;
}
body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin: 0;
  background-color: var(--main-isabelline);
  color: var(--main-black-olive);
}
header a {
  text-decoration: none !important;
  color: var(--main-black-olive) !important;
}
header, .nav-link {
  color: var(--main-black-olive) !important;
}